@media (max-width: 767px) {
    .height-size{
        height: 130px!important;
    }
    .nav-site{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}

.icon-cart-number{
    border-radius: 50%;
    color: black;
    float: right;
    width: 27px;
    text-align: center;
    margin-left: 5px;
    background: white;
}
.icon-notify-number{
    border-radius: 50%;
    color: black;
    float: right;
    width: 27px;
    text-align: center;
    margin-left: 5px;
    background: white;
}

.menu-site{
    background: #343a40!important;
    border: none!important;
}

.menu-site-item{
    color: #cccecf!important;
}

.menu-site-item:hover{
    background: #4c5c66 !important;
}